.text--what {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0px;
}

.text--handeeman {
    margin-top: 0px;
    padding-top: 0px;
    font-weight: 900;
    font-size: 64px;
    color: #184D47;
}


.span--why {
    font-weight: 400;
    font-size: 35px;
}

.span--handeeman {
    padding-left: 10px;
    font-weight: 900;
    font-size: 48px;
}

.span--question {
    font-weight: 500;
    font-size: 55px;
}


.landing--margin {
    margin-top: 25px;
}


.landing--border {
    border-radius: 20px;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #B1DFA9, #257457);
}

.circle {
    display: flex;
    justify-content: center;
    text-align: center;
}

.circle img {
    border-radius: 50%;
    border: 1px solid #FFFFFF5C;
    box-shadow: 0px 3px 8px 1px #00000040;
}

.card--title {
    color: #184D47;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.card--body {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.span--how {
    font-weight: 400;
    font-size: 35px;
}

.span--text {
    font-weight: 400;
    font-size: 20px;
}

.col--align {
    display: flex;
    justify-content: center;
    text-align: center;
}

.span--owner,
.span--renter {
    font-weight: 700;
    font-size: 28px;
}

.paragraph--text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.span--textmute {
    font-weight: 700;
    font-size: 16px;
    color: #184D47;
}

.scroll-top {
    position: fixed;
    bottom: 2em;
    right: 4em;
    background-color: transparent;
}

@media (max-width: 900px) {
    .scroll-top {
        display: none;
    }
}