.AccountPage {
  padding: 0 !important;
  background-color: #f7f7fa;
}

.Cart {
  font-size: 0.875rem;
}

.CartItem {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.75rem 0 0.75rem 0.5rem;
}

.Summary {
  margin-top: 3rem;
  margin-right: -12px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 0.75rem;
}

.Summary ul {
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.Summary li {
  list-style-type: square;
  padding: 0.1rem 0;
}

.SummaryList {
  display: flex;
  justify-content: space-between;
}

.Address {
  margin-bottom: 1rem;
  padding-left: 8px;
}

.Address p {
  margin: 0;
}
