.ItemPage {
}

.ContentDivider {
  padding: 1rem !important;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border-radius: 5px;
  background-color: #ffffff;
}

.OwnersSection {
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.OwnersSection .imgContainer {
  height: 68px;
  width: 68px;
}

.OwnersSection img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.ImageCarousel {
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

/* width */
.collection::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #81b395;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #184d47;
}

.ItemListing {
  padding: 0;
  margin: 0;
}

.ItemListing li {
  list-style: none;
  padding: 3px 0;
}

.Rates {
  font-size: 1.25rem;
}

.CustomField {
  padding: 0.25rem 0.5rem;
}

.CustomField:focus {
  box-shadow: 0 0 0 3px rgba(129, 179, 149, 0.5);
  border: none;
  outline: none;
}
