.ItemPage {
  padding: 0 !important;
  font-size: 0.875rem;
}

/* width */
.collection::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #81b395;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #184d47;
}

.ItemListing {
  padding: 0;
  margin: 0;
}

.ItemListing li {
  list-style: none;
  padding: 3px 0;
}

.Rates {
  font-size: 1.25rem;
  font-weight: 500;
}
