.ItemPage {
  padding: 0 !important;
  font-size: 0.875rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #81b395;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #184d47;
}

.ItemPage ul {
  padding: 0 24px;
}

.ItemListing {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 6px 0;
}

.Rates {
  font-size: 1.75rem;
  font-weight: 500;
}
