.AppButtonWhite {
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 50px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #184d47;
}

.AppButtonWhite:hover {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
}

.AppButtonYellow {
  height: 40px;
  padding: 0 16px;
  border: 1px solid #eeeeee;
  border-radius: 50px;
  background-color: #f5e79d;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #184d47;
}

.AppButtonYellow100 {
  height: 40px;
  width: 100%;
  padding: 0 16px;
  border: none;
  border-radius: 50px;
  background-color: #f5e79d;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #184d47;
}

.AppButtonYellow:hover,
.AppButtonYellow100:hover {
  background-color: #ffffff;
  outline: 2px solid #f5e79d;
}

.AppButtonGreen {
  min-height: 35px;
  padding: 0 16px;
  border: 1px solid #dddddd;
  border-radius: 50px;
  background-color: #184d47;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
}

.AppButtonGreen:hover {
  background-color: #ffffff;
  outline: 2px solid #184d47;
  color: #184d47;
}

.WhiteGreen {
  min-height: 35px;
  padding: 6px 16px;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #184d47;
}

.WhiteGreen:hover {
  border: none;
  outline: 2px solid #184d47;
}

.AppButtonYellowP {
  height: 40px;
  padding: 0 16px;
  border: 1px solid #eeeeee;
  border-radius: 50px;
  background-color: #f7d52f;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #184d47;
}

.AppButtonYellowP:hover {
  background-color: #f5e79d;
  outline: 2px solid #f7d52f;
}

.White {
  min-height: 35px;
  padding: 6px 16px;
  border: none;
  border-radius: 50px;
  background-color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #184d47;
}

.White:hover {
  background-color: #ffffff;
  border: none;
  outline: 2px solid #dddddd;
}

.Yellow {
  min-height: 35px;
  padding: 6px 16px;
  border: none;
  border-radius: 50px;
  background-color: #f7ebb1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #184d47;
}

.Yellow:hover {
  background-color: #ffffff;
  border: none;
  outline: 2px solid #f7ebb1;
}

.Green {
  min-height: 35px;
  padding: 6px 16px;
  border: none;
  border-radius: 50px;
  background-color: #184d47;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
}

.Green:hover {
  background-color: #ffffff;
  border: none;
  outline: 2px solid #184d47;
  color: #184d47;
}

.WhiteGreenYellow {
  min-height: 35px;
  padding: 6px 16px;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #126244;
}

.active {
  background-color: #126244;
  font-weight: 600;
  color: #ffffff;
}

.WhiteGreenYellow:hover {
  background-color: #fcf9d5;
  border: none;
  outline: 2px solid #126244 !important;
  color: #126244;
}
