.App {
  color: inherit;
  background-color: #f7f7fa;
}

.vr {
  width: 2px;
  min-height: 1em;
  background-color: #353939;
}

.vr-light {
  width: 1px;
  min-height: 1em;
  background-color: #dddddd;
}

.popover {
  max-width: fit-content !important;
}

.popover-body {
  padding: 0;
}
