* {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

/* body,
html {
	height: 100%;
	background-image: url("./images/rental.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
} */

.divSignupMain {
	min-width: 450px;
	min-height: 820px;
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close {
	float: right;
	margin: 10px;
}

.signupH1 {
	color: #184d47;
	padding-top: 58px;
	font-family: "Mulish", sans-serif;
	display: block;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.inputItem[type="text"],
.inputItem[type="password"] {
	display: block;
	justify-content: center;
	border-radius: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	min-width: 380px;
	min-height: 36px;
	border-color: #eeeeee;
}

.inputItem[placeholder] {
	padding-left: 22.8px;
}

.formItem {
	display: flex;
	justify-content: center;
	padding-top: 13px;
}

.checkboxText {
	padding-top: 21px;
	max-width: 330px;
	padding-left: 9px;
	padding-bottom: 23.28px;
	font-size: 12px;
}

.divTerms {
	display: flex;
	position: absolute;
}

.checkBox {
	position: relative;
	bottom: 50px;
}

.buttonRegister {
	background-color: #f5e79d;
	border-radius: 50px;
	min-height: 44px;
	min-width: 120px;
	border-color: white;
	font-weight: bold;
	color: #184d47;
}

.divRegister {
	display: flex;
	justify-content: center;
}

.labelItem {
	padding-top: 20px;
}
